<a href="https://colab.research.google.com/github/sairam2661/advolution-7.0/blob/main/team_details.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data=pd.read_csv("https://raw.githubusercontent.com/Guna2K/ML_Basics/main/Imac_fifa_Advolution%207.0.csv")

In [ ]:
data.head()

   Sno             Name  ...  Release Clause(In Millions) DefensiveAwareness
0    0  Bruno Fernandes  ...                        206.9               72.0
1    1      L. Goretzka  ...                        160.4               74.0
2    2        L. Suárez  ...                         91.2               42.0
3    3     K. De Bruyne  ...                        232.2               68.0
4    4         M. Acuña  ...                         77.7               80.0

[5 rows x 59 columns]

In [ ]:
data.shape

(16365, 59)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16365 entries, 0 to 16364
Data columns (total 59 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Sno                          16365 non-null  int64
 1   Name                         16365 non-null  object
 2   Age                          16365 non-null  int64
 3   Nationality                  16365 non-null  object
 4   Overall                      16171 non-null  float64
 5   Potential                    16365 non-null  int64
 6   Club                         16365 non-null  object
 7   Value(In Millions)           16365 non-null  float64
 8   Wage(In Thousands)           16365 non-null  float64
 9   Preferred Foot               16365 non-null  object
 10  International Reputation     16365 non-null  int64
 11  Weak Foot                    16365 non-null  int64
 12  Skill Moves                  16365 non-null  int64
 13  Work Rate                    16365 non-null  object
 14  Body Type                    16365 non-null  object
 15  Position                     16365 non-null  object
 16  Jersey Number                16365 non-null  int64
 17  Joined                       15150 non-null  object
 18  Contract Valid Until         16277 non-null  object
 19  Height                       16365 non-null  object
 20  Weight                       16365 non-null  object
 21  Crossing                     16365 non-null  int64
 22  Finishing                    16362 non-null  float64
 23  HeadingAccuracy              16348 non-null  float64
 24  ShortPassing                 16351 non-null  float64
 25  Volleys                      16340 non-null  float64
 26  Dribbling                    16338 non-null  float64
 27  Curve                        16342 non-null  float64
 28  FKAccuracy                   16361 non-null  float64
 29  LongPassing                  16343 non-null  float64
 30  BallControl                  16361 non-null  float64
 31  Acceleration                 16347 non-null  float64
 32  SprintSpeed                  16351 non-null  float64
 33  Agility                      16363 non-null  float64
 34  Reactions                    16359 non-null  float64
 35  Balance                      16362 non-null  float64
 36  ShotPower                    16362 non-null  float64
 37  Jumping                      16360 non-null  float64
 38  Stamina                      16356 non-null  float64
 39  Strength                     16365 non-null  int64
 40  LongShots                    16360 non-null  float64
 41  Aggression                   16360 non-null  float64
 42  Interceptions                16363 non-null  float64
 43  Positioning                  16365 non-null  int64
 44  Vision                       16365 non-null  int64
 45  Penalties                    16365 non-null  int64
 46  Composure                    16187 non-null  float64
 47  Marking                      794 non-null    float64
 48  StandingTackle               16365 non-null  int64
 49  SlidingTackle                16365 non-null  int64
 50  GKDiving                     16365 non-null  int64
 51  GKHandling                   16365 non-null  int64
 52  GKKicking                    16365 non-null  int64
 53  GKPositioning                16365 non-null  int64
 54  GKReflexes                   16365 non-null  int64
 55  Best Position                16365 non-null  object
 56  Best Overall Rating          16171 non-null  float64
 57  Release Clause(In Millions)  14961 non-null  float64
 58  DefensiveAwareness           15571 non-null  float64
dtypes: float64(28), int64(19), object(12)
memory usage: 7.4+ MB

In [ ]:
data.columns=data.columns.str.replace(' ','_')

In [ ]:
data.head()

   Sno             Name  ...  Release_Clause(In_Millions) DefensiveAwareness
0    0  Bruno Fernandes  ...                        206.9               72.0
1    1      L. Goretzka  ...                        160.4               74.0
2    2        L. Suárez  ...                         91.2               42.0
3    3     K. De Bruyne  ...                        232.2               68.0
4    4         M. Acuña  ...                         77.7               80.0

[5 rows x 59 columns]

In [ ]:
gcolumns=['Name','Reactions','GKDiving','GKHandling','GKKicking','GKPositioning','GKReflexes','Position']
gkdata=data[gcolumns]

In [ ]:
gkdata=gkdata[gkdata.GKKicking>=70]
gkdata.head()

              Name  Reactions  GKDiving  ...  GKPositioning  GKReflexes  Position
10972      Ederson       88.0        87  ...             88          88        GK
12107     M. Neuer       87.0        88  ...             89          88        GK
12165    J. Orozco       73.0        75  ...             75          74       SUB
12851  J. Pickford       80.0        83  ...             80          86        GK
12917  21 A. Onana       83.0        84  ...             83          86        GK

[5 rows x 8 columns]

In [ ]:
gkdata.shape

(215, 9)

In [ ]:
gkdata['Summation']=gkdata['GKDiving']+gkdata['GKHandling']+gkdata['GKPositioning']+gkdata['GKReflexes']

In [ ]:
gkdata.shape

(315, 9)

In [ ]:
gkdata.head()

              Name  Reactions  GKDiving  ...  GKReflexes  Position  Summation
10972      Ederson       88.0        87  ...          88        GK        345
12107     M. Neuer       87.0        88  ...          88        GK        353
12165    J. Orozco       73.0        75  ...          74       SUB        295
12851  J. Pickford       80.0        83  ...          86        GK        327
12917  21 A. Onana       83.0        84  ...          86        GK        333

[5 rows x 9 columns]

In [ ]:
gkdatasub=gkdata[gkdata.Position=='SUB']
gkdata=gkdata[gkdata.Position!='SUB']

In [ ]:
gkdata.shape

(215, 9)

In [ ]:
gkdata=gkdata.sort_values(['GKKicking','Summation','Reactions'],ascending=(False,False,False))
gkdatasub=gkdatasub.sort_values(['GKKicking','Summation','Reactions'],ascending=(False,False,False))

In [ ]:
gkdata.head()

                Name  Reactions  GKDiving  ...  GKReflexes  Position  Summation
10972        Ederson       88.0        87  ...          88        GK        345
12107       M. Neuer       87.0        88  ...          88        GK        353
13621  M. ter Stegen       86.0        88  ...          90        GK        351
12917    21 A. Onana       83.0        84  ...          86        GK        333
12851    J. Pickford       80.0        83  ...          86        GK        327

[5 rows x 9 columns]

In [ ]:
gkdatasub.shape

(100, 9)

In [ ]:
gkdatasub.head()

             Name  Reactions  GKDiving  ...  GKReflexes  Position  Summation
14505    I. Khune       62.0        71  ...          75       SUB        279
14769        Kepa       68.0        78  ...          81       SUB        312
14765  R. Pasveer       70.0        74  ...          74       SUB        297
13102    C. Bravo       72.0        77  ...          78       SUB        311
14480     M. Ryan       71.0        77  ...          79       SUB        307

[5 rows x 9 columns]

In [ ]:
defendercolumns=['Name','ShortPassing','Stamina','StandingTackle','Strength','Reactions','BallControl','Dribbling','Weak_Foot','Position']
defenderdata=data[defendercolumns]

In [ ]:
defenderdata['Weak_Foot'].isnull().sum()

0

In [ ]:
defenderdata=defenderdata[defenderdata.Stamina>=70]
defenderdata=defenderdata[defenderdata.Weak_Foot>=2]

In [ ]:
defenderdata.head()

              Name  ShortPassing  Stamina  ...  Dribbling  Weak_Foot  Position
0  Bruno Fernandes          91.0     91.0  ...       83.0          3       CAM
1      L. Goretzka          86.0     88.0  ...       84.0          4       LDM
2        L. Suárez           NaN     78.0  ...       83.0          4        RS
3     K. De Bruyne          94.0     89.0  ...       88.0          5       RCM
4         M. Acuña          82.0     90.0  ...       87.0          3        LB

[5 rows x 10 columns]

In [ ]:
defenderdata['Summation']=defenderdata['ShortPassing']+defenderdata['Stamina']+defenderdata['Strength']+defenderdata['BallControl']+defenderdata['Dribbling']+defenderdata['Reactions']+defenderdata['Weak_Foot']

In [ ]:
defenderdatasub=defenderdata[defenderdata.Position=='SUB']
defenderdata=defenderdata[defenderdata.Position!='SUB']

In [ ]:
defenderdata=defenderdata.sort_values(['Summation','StandingTackle'],ascending=(False,False))
defenderdatasub=defenderdatasub.sort_values(['Summation','StandingTackle'],ascending=(False,False))

In [ ]:
defenderdata.head()

            Name  ShortPassing  Stamina  ...  Weak_Foot  Position  Summation
3   K. De Bruyne          94.0     89.0  ...          5       RCM      532.0
81     K. Mbappé          85.0     88.0  ...          4        ST      531.0
1    L. Goretzka          86.0     88.0  ...          4       LDM      525.0
17    F. de Jong          91.0     90.0  ...          3       RCM      523.0
29      L. Messi          91.0     72.0  ...          4        RW      522.0

[5 rows x 11 columns]

In [ ]:
middlefieldcolumns=['Name','ShortPassing','BallControl','Dribbling','Stamina','Agility','Balance','Work_Rate','Aggression','Weak_Foot','Position']
middlefielddata=data[middlefieldcolumns]

In [ ]:
middlefielddata=middlefielddata[middlefielddata.Stamina>=71]
middlefielddata=middlefielddata[middlefielddata.Weak_Foot>=3]

In [ ]:
middlefielddata['Summation']=middlefielddata['ShortPassing']+middlefielddata['Stamina']+middlefielddata['Agility']+middlefielddata['Balance']+middlefielddata['Aggression']+middlefielddata['Weak_Foot']

In [ ]:
middlefielddata['controlDribbleComb']=middlefielddata['BallControl']+middlefielddata['Dribbling']

In [ ]:
middlefielddatasub=middlefielddata[middlefielddata.Position=='SUB']
middlefielddata=middlefielddata[middlefielddata.Position!='SUB']

In [ ]:
middlefielddata.head()

              Name  ShortPassing  ...  Summation  controlDribbleComb
0  Bruno Fernandes          91.0  ...      422.0               170.0
1      L. Goretzka          86.0  ...      406.0               171.0
2        L. Suárez           NaN  ...        NaN               169.0
3     K. De Bruyne          94.0  ...      421.0               179.0
4         M. Acuña          82.0  ...      432.0               175.0

[5 rows x 13 columns]

In [ ]:
middlefielddata=middlefielddata.sort_values(['controlDribbleComb','Summation'],ascending=(False,False))
middlefielddatasub=middlefielddatasub.sort_values(['controlDribbleComb','Summation'],ascending=(False,False))

In [ ]:
middlefielddata.head()

            Name  ShortPassing  ...  Summation  controlDribbleComb
29      L. Messi          91.0  ...      397.0               192.0
63     Neymar Jr          86.0  ...      415.0               190.0
81     K. Mbappé          85.0  ...      414.0               184.0
41   M. Verratti          90.0  ...      444.0               183.0
674   L. Insigne          87.0  ...      381.0               183.0

[5 rows x 13 columns]

In [ ]:
middlefielddatasub.head()

               Name  ShortPassing  ...  Summation  controlDribbleComb
166  Bernardo Silva          86.0  ...      438.0               182.0
176      M. Kovačić          90.0  ...      421.0               178.0
313        Coutinho          80.0  ...      398.0               178.0
476       E. Hazard          85.0  ...      396.0               177.0
169       A. Correa          82.0  ...      424.0               175.0

[5 rows x 13 columns]

In [ ]:
forwardcolumns=['Name','ShortPassing','BallControl','Dribbling','Finishing','Stamina','Weak_Foot','Agility','Balance','Positioning','Composure','Work_Rate','Position']
forwarddata=data[forwardcolumns]

In [ ]:
forwarddata=forwarddata[forwarddata.Stamina>=71]
forwarddata=forwarddata[forwarddata.Weak_Foot>=3]
forwarddata=forwarddata[forwarddata.Finishing>=75]

In [ ]:
forwarddata['Summation']=forwarddata['ShortPassing']+forwarddata['BallControl']+forwarddata['Dribbling']+forwarddata['Finishing']+forwarddata['Stamina']+forwarddata['Weak_Foot']+forwarddata['Agility']+forwarddata['Balance']+forwarddata['Positioning']+forwarddata['Composure']

In [ ]:
forwarddatasub=forwarddata[forwarddata.Position=='SUB']
forwarddata=forwarddata[forwarddata.Position!='SUB']

In [ ]:
forwarddata=forwarddata.sort_values(['Summation'],ascending=(False))
forwarddatasub=forwarddatasub.sort_values(['Summation'],ascending=(False))

In [ ]:
forwarddata.head()

         Name  ShortPassing  BallControl  ...     Work_Rate  Position  Summation
29   L. Messi          91.0         96.0  ...   Medium/ Low        RW      829.0
81  K. Mbappé          85.0         91.0  ...     High/ Low        ST      809.0
34   M. Salah          84.0         89.0  ...  High/ Medium        RW      805.0
63  Neymar Jr          86.0         95.0  ...  High/ Medium        LW      804.0
54    S. Mané          84.0         88.0  ...  High/ Medium        LW      792.0

[5 rows x 14 columns]

In [ ]:
forwarddatasub.head()

               Name  ShortPassing  ...  Position  Summation
166  Bernardo Silva          86.0  ...       SUB      797.0
216     R. Sterling          83.0  ...       SUB      779.0
7      G. Wijnaldum          87.0  ...       SUB      769.0
476       E. Hazard          85.0  ...       SUB      769.0
169       A. Correa          82.0  ...       SUB      765.0

[5 rows x 14 columns]